<app-title-bar
  [title]="'Solicitud de Trámite'"
  [subTitle]="'Trámite seleccionado: ' + (
    !!serviceSelected?.name && !!serviceSelected?.name
      ? serviceSelected!.name
      : 'ninguno'
  )"

/>

<div
  class="text-3xl text-black relative p-3 border  border-slate-100 rounded-md mt-4 mx-2 sm:mx-20 shadow-md"
>
  <div
    class="text-3xl text-black relative p-3 border border-slate-100 mb-4 rounded-md shadow-md"
  >
    <h3 class="text-xl font-bold">Datos del Trámite</h3>
    <form [formGroup]="processForm" (ngSubmit)="onSubmitForm()">
      <div class="flex flex-wrap mt-2 -mx-2">
        <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
          <label for="serviceType" class="block text-gray-700 text-lg">
            <span class="text-red-600 text-lg font-bold">*</span> Tipo de trámite/Servicio:
          </label>
          <select
            formControlName="serviceType"
            class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            autocomplete="off"
          >
            @if (serviceTypeService.serviceTypes()?.length) {
              <option value="">-- Seleccione --</option>
            }
            @for (serviceType of serviceTypeService.serviceTypes(); track serviceType.id) {
              <option [value]="serviceType.id">{{serviceType.name}}</option>
            }@empty {
              <option value="">Cargando...</option>
            }
          </select>
          @if (
            (processForm.hasError('required', 'serviceType')) && processForm.controls['serviceType'].touched
          ) {
            <div class="text-sm text-red-500">
              <p>Este campo es requerido.</p>
            </div>
          }
        </div>
        <div class="w-full md:w-1/2 px-2">
          <label for="service" class="block text-gray-700 text-lg">
            <span class="text-red-600 text-lg font-bold">*</span> Trámite:
          </label>
          <select
            formControlName="service"
            class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            autocomplete="off"
          >
            @if (serviceService.services()?.length) {
              <option value="">-- Seleccione --</option>
            }
            @for (service of serviceService.services(); track service) {
              <option [value]="service.id">{{service.name}}</option>
            }@empty {
              <option value="">-- Sin opción --</option>
            }
          </select>
          @if (
            (processForm.hasError('required', 'service')) && processForm.controls['service'].touched
          ) {
            <div class="text-sm text-red-500">
              <p>Este campo es requerido.</p>
            </div>
          }
        </div>
      </div>
    </form>
  </div>


  @for (formSection of serviceSelected?.form_sections; track $index) {
    <div
      class="text-3xl text-black relative p-3 border border-slate-100 mb-4 rounded-md shadow-md"
    >
      <div class="flex items-start space-x-4">
        @if (formSection.is_active) {
          <div class="accordion-menu">

            @if(formSection.has_checkbox) {
              <form [formGroup]="enableSectionCheckboxForm!">
                <div class="flex items-center mb-4 ml-3">
                  <div class="checkbox-wrapper-19 cursor-pointer">
                    <input
                      type="checkbox"
                      id="checkbox-{{formSection.id}}"
                      [value]="formSection.id"
                      (change)="onCheckboxChange($event, formSection.id, 'checkbox')"
                      formControlName="check"
                    />
                    <label for="checkbox-{{formSection.id}}" class="check-box"></label>
                  </div>
                  <label for="checkbox-{{formSection.id}}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer">
                    {{formSection.checkbox_label}}
                  </label>
                </div>
              </form>
            }
            <ul>
                <li>
                    <input
                      type="checkbox"
                      [checked]="!formSection.has_checkbox ? !formSection.expanded : (selectedOption !== formSection.id)"
                      (change)="onCheckboxChange($event, formSection.id, 'menu')"
                    >
                    <i class="arrow after:bg-indigo-500 before:bg-indigo-500"></i>
                    <div class="flex items-start space-x-4">
                      @if (formSection.popover_id) {
                        <app-popover-icon
                          [id]="formSection.popover?.id ?? ''"
                          [title]="formSection.popover?.title ?? ''"
                          [text]="formSection.popover?.text ?? ''"
                          [position]="formSection.popover?.position ?? 'top'"
                          [svgIconPath]="formSection.popover?.icon ?? ''"
                          class="z-50"
                        />
                      }
                      <h3 class="text-xl font-bold">{{formSection.name}}</h3>

                  </div>
                  <div class="flex flex-wrap mt-2 accordion-content">

                    @if (!!formSection.text_alert) {
                      <div class="w-full text-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-indigo-100 dark:bg-gray-800 dark:text-blue-400" role="alert">
                        <span class="font-medium">{{formSection.text_alert}}</span>
                      </div>
                    }
                    <form
                      class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full"
                      [formGroup]="dataForm"
                      [ngClass]="{
                        'lg:grid-cols-1': formSection.columns === 1,
                        'lg:grid-cols-2': formSection.columns === 2,
                        'lg:grid-cols-3': formSection.columns === 3,
                        'lg:grid-cols-4': formSection.columns === 4,
                        'lg:grid-cols-5': formSection.columns === 5
                      }"
                    >
                    @for (control of formSection.form_controls; track $index) {

                      <div class="mb-4">
                        @if (control.name ==='controlledSpecies') {
                          <h3 class="text-xl font-bold">{{ control.extra_title }}</h3>
                          <div class="flex items-center space-x-1">
                            @if (!formSection.text_alert) {
                              <label [for]="control.name" class="block text-black text-base">{{control.label}}</label>
                            }
                            @if (control.popover && showPopovers) {
                              <app-popover-icon
                                [position]="control.popover.position"
                                [title]="control.popover.title"
                                [id]="control.popover.id"
                                [text]="control.popover.text"
                              ></app-popover-icon>
                            }
                          </div>
                        } @else {
                          <div class="flex items-center space-x-1">
                            @if (!formSection.text_alert) {
                              <label [for]="control.name" class="block text-black text-base">{{control.label}}</label>
                            }
                              @if (control.popover && showPopovers) {
                                <app-popover-icon
                                  [position]="control.popover.position"
                                  [title]="control.popover.title"
                                  [id]="control.popover.id"
                                  [text]="control.popover.text"
                                ></app-popover-icon>
                              }
                          </div>
                        }

                        @switch (control.type) {
                          @case (FormControlType.FILE) {

                            @if (!!formSection.text_alert) {
                              <div
                                class="text-black relative p-3 border border-slate-100 mb-4 rounded-md shadow-md"
                              >
                                <div class="text-center flex flex-col">
                                  <label class="text-black text-base text-bold">{{control.label}}</label>
                                  <label class="text-black text-sm">{{control.placeholder}}</label>
                                </div>

                                <div class="text-center mt-4 flex flex-col justify-center items-center">

                                  @if (dataForm.get(control.name)?.value) {
                                    Archivo seleccionado: <span class="text-bold">{{ dataForm.get(control.name)?.value?.name }}</span>
                                  }

                                  <button
                                    type="button"
                                    (click)="openFileInput(control.id!)"
                                    class="inline-flex items-center text-sm tracking-wide font-semibold bg-indigo-500 text-gray-100 py-2 px-5 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none"
                                  >
                                    @if (control.file_input_accept === '.pdf') {
                                      <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/>
                                      </svg>
                                    }
                                    {{control.file_button_text}}
                                  </button>

                                  <input
                                    type="file"
                                    [id]="'fileInput' + control.id"
                                    (change)="onFileSelected($event, control.name)"
                                    style="display: none;"
                                    [accept]="control.file_input_accept"
                                  />
                                  @if (dataForm.hasError('required', control.name) && dataForm.controls[control.name].touched) {
                                    <div class="text-sm text-red-500">
                                      <p>Este campo es requerido.</p>
                                    </div>
                                  }
                                </div>
                              </div>
                            }
                          }
                          @case (FormControlType.TEXT) {
                            @if (control.is_search_input) {

                              <div class="flex">
                                <div class="relative w-full">
                                    <input
                                      type="search"
                                      [formControlName]="control.name"
                                      class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                      placeholder="Buscar"
                                    />
                                    <button
                                      type="button"
                                      (click)="search(control.name)"
                                      class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white  bg-indigo-500 rounded-e-lg border border-blue-700 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition-all duration-300 ease-in-out"
                                    >
                                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                      </svg>
                                    </button>
                                </div>
                              </div>


                            } @else {
                              <input
                                [type]="control.type"
                                [formControlName]="control.name"
                                [mask]="control.input_mask"
                                class="text-base w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                                autocomplete="off"
                              />
                            }
                          }

                          @case (FormControlType.TEXTAREA) {
                            <textarea
                              [formControlName]="control.name"
                              rows="4"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder="">
                            </textarea>

                          }

                          @case (FormControlType.EMAIL) {
                            <input
                              [type]="control.type"
                              [formControlName]="control.name"
                              class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                              autocomplete="off"
                            />
                          }

                          @case (FormControlType.DATE) {
                            <input
                              [type]="control.type"
                              [formControlName]="control.name"
                              class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                              autocomplete="off"
                            />
                          }

                          @case (FormControlType.SELECT) {

                            @if (control.name ==='controlledSpecies') {
                              <div class="flex">
                                <select
                                  [formControlName]="control.name"
                                  class="w-full border mr-3 border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                                  autocomplete="off"
                                >
                                  @if (control.placeholder) {
                                    <option value="">{{control.placeholder}}</option>
                                  }
                                  @for (option of control.select_options; track $index) {
                                    <option [value]="option.value">{{option.label}}</option>
                                  }
                                </select>
                                <button
                                  (click)="addSpecie(control.name)"
                                  type="button"
                                  class="btn-primary"
                                >
                                  Agregar
                                </button>
                              </div>

                              @if (speciesSelected.length > 0) {
                                <div class="relative overflow-x-auto mt-4">
                                  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                          <tr>
                                              <th scope="col" class="px-6">
                                                  Nombre común
                                              </th>
                                              <th scope="col" class="px-6">
                                                  Nombre científico
                                              </th>
                                              <th scope="col" class="px-6">

                                              </th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        @for (specie of speciesSelected; track $index) {
                                          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                              <th scope="row" class="px-6 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                                                  {{specie.commonName}}
                                              </th>
                                              <td class="px-6 font-bold">
                                                  {{specie.scientistName}}
                                              </td>
                                              <td class="px-6 flex justify-end p-2">
                                                <button
                                                  (click)="removeSpecie(specie.id)"
                                                  type="button"
                                                  class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                                                >
                                                  <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                                  </svg>
                                                  <span class="sr-only">Icon description</span>
                                                </button>
                                              </td>
                                          </tr>
                                        }
                                      </tbody>
                                  </table>
                                </div>
                              }

                            } @else if (control.name ==='speciesUtilization') {
                              <div class="flex">
                                <select
                                  [formControlName]="control.name"
                                  class="w-full border mr-3 border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                                  autocomplete="off"
                                >
                                  @if (control.placeholder) {
                                    <option value="">{{control.placeholder}}</option>
                                  }
                                  @for (option of control.select_options; track $index) {
                                    <option [value]="option.value">{{option.label}}</option>
                                  }
                                </select>
                              </div>
                              <div class="mt-3">
                                <button
                                  type="button"
                                  class="btn-primary"
                                  (click)="addSpecie(control.name, formSection)"
                                >
                                  Agregar
                                </button>
                                <button
                                  type="button"
                                  class="btn-primary ml-2"
                                  (click)="speciesSelectedButton.click()"
                                  [disabled]="speciesSelected.length === 0"
                                  [ngClass]="{'cursor-not-allowed': speciesSelected.length === 0}"
                                >
                                  Ver especies
                                </button>
                              </div>


                            } @else {
                              <select
                                [formControlName]="control.name"
                                class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                                autocomplete="off"
                              >
                              @if (control.placeholder) {
                                <option value="">{{control.placeholder}}</option>
                              }
                                <ng-container *ngFor="let option of control.select_options">
                                  <option [value]="option.value">{{option.label}}</option>
                                </ng-container>
                              </select>
                            }
                          }

                          @case (FormControlType.NUMBER) {
                            <input
                              [type]="control.type"
                              [formControlName]="control.name"
                              class="text-base w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                              autocomplete="off"
                            />
                          }
                        }

                        @if (!formSection.text_alert) {
                          @if (dataForm.hasError('required', control.name) && dataForm.controls[control.name].touched) {
                            <div class="text-sm text-red-500">
                              <p>Este campo es requerido.</p>
                            </div>
                          }
                          @if (dataForm.hasError('email', control.name) && dataForm.controls[control.name].touched) {
                            <div class="text-sm text-red-500">
                              <p>Ingrese un correo válido.</p>
                            </div>
                          }
                        }

                        @if (!!control.helper_text) {
                          <p
                            id="helper-text-explanation"
                            class="mt-2 text-sm text-gray-500 dark:text-gray-400"
                          >
                            {{control.helper_text}}
                          </p>
                        }
                      </div>
                    }
                    </form>
                  </div>
                </li>
            </ul>
          </div>
        }
      </div>
    </div>
  }

  @if (!!serviceSelected) {

    <div class="flex items-center">
      <div class="checkbox-wrapper-19">
        <input type="checkbox" checked id="terms" (change)="onTermsChecked($event, 'terms')"/>
        <label for="terms" class="check-box"></label>
      </div>
      <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Aceptar los términos de
        <a (click)="myButton.click()" class="cursor-pointer text-blue-600 dark:text-blue-500 hover:underline">Aviso de privacidad</a>.
      </label>
    </div>
    <div class="flex items-center">
      <div class="checkbox-wrapper-19">
        <input type="checkbox" id="date" (change)="onTermsChecked($event, 'date')"/>
        <label for="date" class="check-box"></label>
      </div>
      <label for="date" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Agendar Cita para asistir a Ventanilla Única.
      </label>
    </div>

    <button
      (click)="submit()"
      type="button"
      class="btn-primary"
    >
      Guardar
    </button>

    <button
      (click)="resetForms()"
      type="button"
      class="ml-2 btn-light"
    >
      Limpiar formulario
    </button>
  }
</div>


<!-- Modal toggle -->
<button hidden #myButton data-modal-target="default-modal" data-modal-toggle="default-modal" type="button">
</button>

<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Aviso de privacidad
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <h4><strong>AVISO DE PRIVACIDAD SIMPLIFICADO CON CONSENTIMIENTO</strong></h4>
            <br>
            <strong>Registro y Aprovechamiento en</strong>
            <br>
            <strong>Unidades de Manejo para la Conservación,</strong>
            <br>
            <strong>Manejo y Aprovechamiento de la Vida Silvestre.</strong>
            <p>
              <br>
              La Subdirección de Vida Silvestre, de la Secretaría de Medio Ambiente del
              Estado de Coahuila de Zaragoza que resguarda la información proporcionada por usted, utilizará los datos personales requeridos en su solicitud y
              aquí recabados para mantener actualizada la base de datos perteneciente al sistema de Unidades de Manejo para la Conservación y Aprovechamiento
              de la Vida Silvestre en el estado de Coahuila de Zaragoza y la expedición de oficios relativos a autorizaciones, modificaciones, expedición de
              cintillos de cobro cinegético, oficios y comunicados relativos a la conservación, manejo y aprovechamiento de la vida silvestre y su información
              será compartida con fines estadísticos, de información y de investigación con las dependencias e instituciones involucradas con la conservación
              de la vida silvestre, sin incluir datos de nombre, domicilio y teléfono.
            </p>
            <p>
              <br>
              Usted cuenta con la posibilidad de ejercer los derechos de Acceso,
              Rectificación, Cancelación y Oposición, una vez que haya otorgado su consentimiento para el tratamiento de los mismos, y se encuentren en poder
              de esta dependencia pública. Asimismo, usted puede consultar nuestro aviso de privacidad integral en la página Web de la Secretaría de Medio
              Ambiente del Estado de Coahuila de Zaragoza. (www.sma.gob.mx)
            </p>
            <p>
              <br>
              Con fundamento en el artículo 18 de la Ley de Protección de Datos Personales
              en Posesión de Sujetos Obligados del Estado de Coahuila de Zaragoza, indico que en las condiciones descritas anteriormente SI OTORGO el
              consentimiento a la Secretaría de Medio Ambiente del Estado de Coahuila de Zaragoza para el tratamiento de mis datos personales, en todo
              tramite relativo a la conservación, manejo y aprovechamiento de la vida silvestre correspondiente al predio del cual soy titular, a partir
              de la fecha para la presente temporada y subsecuentes, hasta que no emita mi posición en contrario
            </p>
          </div>
      </div>
  </div>
</div>

<button hidden #speciesSelectedButton data-modal-target="species-modal" data-modal-toggle="species-modal" type="button">
</button>
<div id="species-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-4xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Especies agregadas
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="species-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5 space-y-4">

        @if (speciesSelected.length > 0) {
          <div class="relative overflow-x-auto mt-4">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6">
                          Nombre común
                        </th>
                        <th scope="col" class="px-6">
                          Nombre científico
                        </th>
                        <th scope="col" class="px-6">
                          Descripción
                        </th>
                        <th scope="col" class="px-6">
                          Sistema de marca
                        </th>
                        <th scope="col" class="px-6">
                          Sexo
                        </th>
                        <th scope="col" class="px-6">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  @for (specie of speciesSelected; track $index) {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                          {{specie.commonName}}
                      </th>
                      <td class="px-6 font-bold">
                          {{specie.scientistName}}
                      </td>
                      <td class="px-6 font-bold">
                          {{specie.speciesUtilizationDescription}}
                      </td>
                      <td class="px-6 font-bold">
                          {{specie.speciesMarkingDescription}}
                      </td>
                      <td class="px-6 font-bold">
                          {{specie.specieGender}}
                      </td>
                      <td class="px-6 flex justify-end p-2">
                        <button
                          (click)="removeSpecie(specie.id)"
                          type="button"
                          class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-red-800"
                        >
                          <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
                          </svg>
                          <span class="sr-only">Icon description</span>
                        </button>

                        <button
                          (click)="removeSpecie(specie.id)"
                          type="button"
                          class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                        >
                          <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                          </svg>
                          <span class="sr-only">Icon description</span>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          } @else {
            <h3 class="text-center font-bold">No hay especies que mostrar</h3>
          }
      </div>
      <div class="flex justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button
          data-modal-hide="species-modal"
          type="button"
          class="btn-primary">Cerrar</button>
      </div>
    </div>
  </div>
</div>
